In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [296]:
data = pd.read_csv('german_data.csv',header=None)

In [297]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1.0
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2.0
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1.0
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1.0
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2.0

In [298]:
df =data.copy()

In [299]:
df.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20], dtype=int64)

In [300]:
columns = ['Checking_account_status', 'Duration_month','Credit_history','Purpose', 'Credit_amount',  
          'Savings_acc_or_bonds','Employment_Duration', 'Installment_rate_in_%_of_disposable_income',
          'Personal_status_&_sex','Other_debtors_&_guarantors','Residence_Status', 'Property', 'Age', 
           'installment_plans','Housing', 'Number_of_existing_credits_at_this_bank','Job',
       'Nos_of_dependance', 'Telephone', 'Foreign_worker','Credit_worthiness']

In [301]:
df.columns= columns

In [302]:
pd.options.display.max_columns=None

In [303]:
df = df.dropna()

In [304]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 959 entries, 0 to 999
Data columns (total 21 columns):
Checking_account_status                       959 non-null object
Duration_month                                959 non-null int64
Credit_history                                959 non-null object
Purpose                                       959 non-null object
Credit_amount                                 959 non-null object
Savings_acc_or_bonds                          959 non-null object
Employment_Duration                           959 non-null object
Installment_rate_in_%_of_disposable_income    959 non-null object
Personal_status_&_sex                         959 non-null object
Other_debtors_&_guarantors                    959 non-null object
Residence_Status                              959 non-null object
Property                                      959 non-null object
Age                                           959 non-null object
installment_plans                             959 non-null object
Housing                                       959 non-null object
Number_of_existing_credits_at_this_bank       959 non-null object
Job                                           959 non-null object
Nos_of_dependance                             959 non-null object
Telephone                                     959 non-null object
Foreign_worker                                959 non-null object
Credit_worthiness                             959 non-null float64
dtypes: float64(1), int64(1), object(19)
memory usage: 93.7+ KB

In [305]:
df.head()

,Checking_account_status,Duration_month,Credit_history,Purpose,Credit_amount,Savings_acc_or_bonds,Employment_Duration,Installment_rate_in_%_of_disposable_income,Personal_status_&_sex,Other_debtors_&_guarantors,Residence_Status,Property,Age,installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,Nos_of_dependance,Telephone,Foreign_worker,Credit_worthiness
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1.0
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2.0
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1.0
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1.0
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2.0

In [306]:
Checking_account_status = pd.get_dummies(df['Checking_account_status'])

In [307]:
Checking_account_status.columns.values

array(['A11', 'A12', 'A13', 'A14'], dtype=object)

In [308]:
clumns1=['<_0DM', '<_200DM', '>=_200DM', 'No_checking_account']
Checking_account_status.columns=clumns1

In [309]:
Credit_history = pd.get_dummies(df['Credit_history'])
Purpose = Checking_account_status = pd.get_dummies(df['Purpose'])
Savings = pd.get_dummies(df['Savings_acc_or_bonds'])
Employment = pd.get_dummies(df['Employment_Duration'])
Personal_status= pd.get_dummies(df['Personal_status_&_sex'])
Other = pd.get_dummies(df['Other_debtors_&_guarantors'])
Property = pd.get_dummies(df['Property'])
installment_plans = pd.get_dummies(df['installment_plans'])
Housing = pd.get_dummies(df['Housing'])
Job = pd.get_dummies(df['Job'])
Telephone = pd.get_dummies(df['Telephone'])
Foreign_worker = pd.get_dummies(df['Foreign_worker'])

In [310]:
Credit_history.columns.values

array(['A30', 'A31', 'A32', 'A33', 'A34'], dtype=object)

In [311]:
cl = ['no_credits_taken', 'Credits_paid_at_bank', 'Credits_paid_till now',
      'delay_in_paying_past_credit','critical_account']

In [312]:
Credit_history.columns = cl

In [313]:
Purpose.columns.values

array(['A40', 'A41', 'A410', 'A42', 'A43', 'A44', 'A45', 'A46', 'A48',
       'A49'], dtype=object)

In [314]:
cl1 = ['car_new', 'car_used', 'others', 'furniture/equipment',
       'radio/television', 'domestic_appliances', 'repairs', 'education', 'retraining',
       'business']

In [315]:
Purpose.columns = cl1

In [316]:
Savings.columns.values

array(['0A6', '1A6', '24A', '28A', '2A6', '38A', '3A6', '4A6', '57A',
       '5A6', '6A6', '7A6', '82A', '8A6', '9A6', 'A61', 'A62', 'A63',
       'A64', 'A65'], dtype=object)

In [317]:
Savings = Savings.iloc[:,-5:]

In [318]:
Savings.columns.values

array(['A61', 'A62', 'A63', 'A64', 'A65'], dtype=object)

In [319]:
cl2 = ['<_100DM', '100-500DM', '500-1000DM', '>=1000DM', 'Unknown/no_savings']

In [320]:
Savings.columns = cl2

In [321]:
Employment.columns.values

array(['1A7', '2A7', '3A7', '4A7', '5A7', '61A', '62A', 'A71', 'A72',
       'A73', 'A74', 'A75'], dtype=object)

In [322]:
Employment = Employment.iloc[:,-5:]

In [323]:
Employment.columns.values

array(['A71', 'A72', 'A73', 'A74', 'A75'], dtype=object)

In [324]:
cl3 = ['unemployed', '<_1', '1-4years', '4-7years', '>=_7years']

In [325]:
Employment.columns = cl3

In [326]:
Personal_status.columns.values

array(['1:00 AM', '1A9', '2:00 AM', '2A9', '3:00 AM', '3A9', '4A9', 'A91',
       'A92', 'A93', 'A94'], dtype=object)

In [327]:
Personal_status = Personal_status.iloc[:,-4:]

In [328]:
Personal_status.columns.values

array(['A91', 'A92', 'A93', 'A94'], dtype=object)

In [329]:
cl4 = ['male_divorced/separated', 'female_divorced/separated/married', 'male_single',
       'male_married/widowed']

In [330]:
Personal_status.columns = cl4

In [331]:
Other.columns.values

array(['1A10', '2A10', '3A10', '91A1', '92A1', '93A1', 'A101', 'A102',
       'A103'], dtype=object)

In [332]:
Other = Other.iloc[:,-3:]

In [333]:
Other.columns.values

array(['A101', 'A102', 'A103'], dtype=object)

In [334]:
cl5 = ['none_debtors/guarantors', 'co-applicant', 'guarantor']

In [335]:
Other.columns = cl5

In [336]:
Property.columns.values

array(['1A12', '2A1', '2A12', '3A1', '3A12', '4A1', '4A12', 'A121',
       'A122', 'A123', 'A124'], dtype=object)

In [337]:
Property= Property.iloc[:,-4:]

In [338]:
cl6 = ['real estate','society_savings_agr/life_insurance', 'other_property','unknown/no_property']

In [339]:
Property.columns = cl6

In [340]:
installment_plans.columns.values

array(['0A14', '1A14', '29A1', '2A14', '32A1', '39A1', '3A14', '43A1',
       '4A14', '5A14', '60A1', '6A14', '7A14', '8A14', '9A14', 'A141',
       'A142', 'A143'], dtype=object)

In [341]:
installment_plans= installment_plans.iloc[:,-3:]

In [342]:
installment_plans.columns.values

array(['A141', 'A142', 'A143'], dtype=object)

In [343]:
cl7 = ['installment_plan_bank', 'installment_plan_stores', ' none']

In [344]:
installment_plans.columns = cl7

In [345]:
Housing.columns.values

array(['1A15', '2A15', '3A15', '41A1', '43A1', 'A151', 'A152', 'A153'],
      dtype=object)

In [346]:
Housing= Housing.iloc[:,-3:]

In [347]:
cl8 = ['housing_rent', 'housing_own','housing_for_free']

In [348]:
Housing.columns = cl8

In [349]:
Job.columns.values

array(['1A1', '1A17', '2A1', '2A17', '3A17', 'A171', 'A172', 'A173',
       'A174'], dtype=object)

In [350]:
Job = Job.iloc[:,-4:]

In [351]:
cl9 = ['unemployed_non_resident', 'unskilled_resident', 'skilled_employee',
       'self-employed_highly_qualified_employee']

In [352]:
Job.columns = cl9

In [353]:
Telephone.columns.values

array(['1A1', '1A19', '2A1', '2A19', 'A191', 'A192'], dtype=object)

In [354]:
Telephone = Telephone.iloc[:,-2:]

In [355]:
cl19 = ['telephone_None', 'telephone_Yes']

In [356]:
Telephone.columns = cl19

In [357]:
Foreign_worker.columns.values

array(['1A20', '2A20', '91A2', '92A2', 'A201', 'A202'], dtype=object)

In [358]:
cl20 = ['foreign_Yes', 'foreign_No']

In [359]:
Foreign_worker = Foreign_worker.iloc[:,-2:]

In [360]:
Foreign_worker.columns = cl20

In [361]:
df.head()

,Checking_account_status,Duration_month,Credit_history,Purpose,Credit_amount,Savings_acc_or_bonds,Employment_Duration,Installment_rate_in_%_of_disposable_income,Personal_status_&_sex,Other_debtors_&_guarantors,Residence_Status,Property,Age,installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,Nos_of_dependance,Telephone,Foreign_worker,Credit_worthiness
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1.0
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2.0
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1.0
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1.0
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2.0

In [362]:
df = df.drop(['Checking_account_status','Credit_history','Purpose','Credit_amount',
             'Savings_acc_or_bonds','Employment_Duration','Personal_status_&_sex',
              'Other_debtors_&_guarantors','Property','installment_plans',
             'Housing','Job','Telephone','Foreign_worker'], axis =1)

In [363]:
df = pd.concat([df,Credit_history, Purpose, Savings, Employment, Personal_status, Other, 
                Property, installment_plans, Housing, Job, Telephone, Foreign_worker], axis = 1)

In [364]:
df.head()

,Duration_month,Installment_rate_in_%_of_disposable_income,Residence_Status,Age,Number_of_existing_credits_at_this_bank,Nos_of_dependance,Credit_worthiness,no_credits_taken,Credits_paid_at_bank,Credits_paid_till now,delay_in_paying_past_credit,critical_account,car_new,car_used,others,furniture/equipment,radio/television,domestic_appliances,repairs,education,retraining,business,<_100DM,100-500DM,500-1000DM,>=1000DM,Unknown/no_savings,unemployed,<_1,1-4years,4-7years,>=_7years,male_divorced/separated,female_divorced/separated/married,male_single,male_married/widowed,none_debtors/guarantors,co-applicant,guarantor,real estate,society_savings_agr/life_insurance,other_property,unknown/no_property,installment_plan_bank,installment_plan_stores,none,housing_rent,housing_own,housing_for_free,unemployed_non_resident,unskilled_resident,skilled_employee,self-employed_highly_qualified_employee,telephone_None,telephone_Yes,foreign_Yes,foreign_No
0,6,4,4,67,2,1,1.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0
1,48,2,2,22,1,1,2.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,1,0
2,12,2,3,49,1,2,1.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0
3,42,2,4,45,1,2,1.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,0,1,0
4,24,3,4,53,2,2,2.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0

In [365]:
clean_df = df.copy()

In [366]:
target = clean_df.iloc[:,6:7]

In [367]:
featuers = clean_df.drop(['Credit_worthiness'], axis=1)

In [368]:
from sklearn.preprocessing import StandardScaler

In [369]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [370]:
scaler = StandardScaler()

In [371]:
clean_df.head()

,Duration_month,Installment_rate_in_%_of_disposable_income,Residence_Status,Age,Number_of_existing_credits_at_this_bank,Nos_of_dependance,Credit_worthiness,no_credits_taken,Credits_paid_at_bank,Credits_paid_till now,delay_in_paying_past_credit,critical_account,car_new,car_used,others,furniture/equipment,radio/television,domestic_appliances,repairs,education,retraining,business,<_100DM,100-500DM,500-1000DM,>=1000DM,Unknown/no_savings,unemployed,<_1,1-4years,4-7years,>=_7years,male_divorced/separated,female_divorced/separated/married,male_single,male_married/widowed,none_debtors/guarantors,co-applicant,guarantor,real estate,society_savings_agr/life_insurance,other_property,unknown/no_property,installment_plan_bank,installment_plan_stores,none,housing_rent,housing_own,housing_for_free,unemployed_non_resident,unskilled_resident,skilled_employee,self-employed_highly_qualified_employee,telephone_None,telephone_Yes,foreign_Yes,foreign_No
0,6,4,4,67,2,1,1.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0
1,48,2,2,22,1,1,2.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,1,0
2,12,2,3,49,1,2,1.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0
3,42,2,4,45,1,2,1.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,0,1,0
4,24,3,4,53,2,2,2.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0

In [372]:
df_std = scaler.fit_transform(featuers)

In [373]:
x_train,x_test,y_train,y_test = train_test_split(featuers, target,random_state=42)

In [377]:
import pickle
import warnings
warnings.filterwarnings('ignore')

In [378]:
clf = RandomForestClassifier().fit(x_train, y_train)

In [379]:
y_pred = clf.predict(x_test)

In [380]:
cross_score = cross_val_score(clf,y_test,y_pred, cv=5)

In [381]:
print(cross_score)
print('mean: ',np.mean(cross_score))

[0.83673469 0.81632653 0.83333333 0.85106383 0.85106383]
mean:  0.8377044434795196

In [382]:
pkl_clf = 'model.pkl'

with open(pkl_clf,'wb') as file:
    pickle.dump(clf, file)

In [383]:
scaler = 'scaler.pkl'

with open(scaler,'wb') as file:
    pickle.dump(scaler, file)